.links {
  display: inline;
  flex-flow: wrap;
  gap: 50px;
  list-style: none;
  padding: 12px;
  margin: 10px;
}
header nav ul {
  max-width: 1200px;
  margin: 0px;
  justify-content: center;
}
ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  padding: 10;
}

h1 {
  font-family: "Rock Salt", cursive;
  font-size: 5rem;
}

h2,
h3 {
  font-family: "Walter Turncoat", cursive;
}

p {
  font-family: "Karma", serif;
}
