image {
  max-width: 100%;
}

/* --------------første section: splash billede og overskrift(h1)------------- */

#first_section {
  width: 100%;
  height: auto;
  background-size: cover;
  display: grid;
  place-items: center;
}

img,
h1 {
  grid-area: 1/1;
}

/* -----------------anden section: tekst og billede-----------------*/

#second_section article {
  display: grid;
}

#second_section img {
  max-width: 100%;
  display: grid;
}

#second_section h2 {
  text-align: center;
}

h1 {
  font-family: "Rock Salt", cursive;
  font-size: 5rem;
}

h2,
h3 {
  font-family: "Walter Turncoat", cursive;
}

p {
  font-family: "Karma", serif;
}
