image {
  max-width: 100%;
}

#first_section {
  width: 100%;
  background-size: cover;
  display: grid;
  place-items: center;
}

img,
h1 {
  grid-area: 1/1;
}

h1 {
  font-family: "Rock Salt", cursive;
  font-size: 5rem;
}

h2,
h3 {
  font-family: "Walter Turncoat", cursive;
}

p {
  font-family: "Karma", serif;
}
