* {
  margin: 0;
  box-sizing: border-box;
}

image {
  max-width: 100%;
}

/* --------------første section: splash billede og overskrift(h1)------------- */

#hero_section {
  grid-column: 1/4;
  width: 100%;
  background-image: url(/img/splash.webp);
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0%;
  display: grid;
  place-content: center;
}

/* -----------------anden section: tekst og billede-----------------*/

#second_section img {
  max-width: 100%;
}

#second_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

#second_section h2 {
  text-align: center;
  grid-row: 1/2;
  margin-bottom: 10px;
}

/* -----------------tredje section--------------------- */

#thired_section img {
  max-width: 100%;
}

#thired_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

@media (min-width: 600px) {
  section {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }

  h1 {
    font-size: 4rem;
  }
  h2,
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }

  header nav ul a {
    font-weight: 400;
    font-size: 1.2rem;
  }
  header {
    margin-bottom: 2rem;
  }

  footer {
    font-size: 1.2rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .velkommen {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #second_section img {
    max-width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
