/* Global styles */
* {
  margin: 0;
  box-sizing: border-box;
}

@media (min-width: 601px) {
  section {
    grid-template-columns: 1fr 2fr;
  }
}

/*styling af section så den er responsiv uden media*/
.image {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
}

#first_section img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
#third_section img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

/*Styling af kontakt på mail delen*/
form {
  padding: 2rem;
  background: orange;
  border-radius: 8px;
  /*laver gap mellem de to formularer/bokse*/
  display: grid;
  gap: 20px;
}
/*Layouter kontakt formular boksene*/
label,
input,
textarea,
select,
button {
  display: block;
}
/*Laver gap mellem overskrift til boks og selv boks*/
.form-felt {
  display: grid;
  gap: 10px;
}

/*styling af book bord delen*/
