* {
  background-color: rgb(197, 98, 5);
}
@media (min-width: 600px) {
  #second_section,
  #third_section,
  #fourth_section {
    display: flex;
    justify-content: space-around;
  }
  #first_section {
    margin-left: 600px;
  }
}
