#first_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}
#first_section img {
  height: auto;
  width: 100%;
  object-fit: cover;
  margin-top: 6rem;
}
h1 {
  font-family: "Walter Turncoat", cursive;
  color: #f27830;
}
